@tailwind base;
@tailwind components;
@tailwind utilities;


body{
 background-color: #f1faf5;
}
.homediv{
    height: 70vh;
    color: rgb(62, 70, 111);
}
.card{
    background-color: rgba(233, 206, 235, 0.5);
    padding: 2rem;
    min-height: 40vh;
}
.homelogo{
    background-image: url('https://challengepost-s3-challengepost.netdna-ssl.com/photos/production/software_photos/002/010/032/datas/gallery.jpg');
}
.formneg input{
    margin: 1rem;
}